#btn-box{
    margin-top: 3%;
}
#singerPhoto{
    height: 250px;
    width: 250px;
    max-width: 100%;
    margin-bottom: 10px;
}
#singerIntro{
    font-family : '微軟正黑體';
    font-size: 15px;
    margin-bottom: 10px;
}
.title_intro{
    font-family: '微軟正黑體';
    font-size: 25px;
}
.ellipsis {
    overflow: auto; /*文字溢出 滾輪顯示*/
    white-space: nowrap; /*文本不換行 直到遇到br*/
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; /*行數*/
    -webkit-box-orient: vertical; /*由上而下垂直排列*/
    white-space: normal; /*空白會被瀏覽器忽略*/

}
.title_list{
    font-family: '微軟正黑體';
    font-size: 25px;
}
a {
    color: inherit; /* 移除超連結 */
    display: block;
    font-size: 1.2rem;
    border: 0;
    text-decoration: none; /* 移除超連結底線 */
}
.songList {
    font-family: '微軟正黑體';
    font-size: 15px;
    margin-top: 5px;
    border: 1px;
    background-color: #bcaaa4;
    color: rgb(40, 40, 40);
}
.songList:hover{ /* 游標移置 */
    background-color: #a1887f;
    color: white;
}