html, body {
    height: 100%;
}

#popular {
    position: absolute;
    color: 
    margin-top: 30px;
}
#style {
    position: absolute;
    margin-top: 30px;

}
/* #hi {
    background-color: blue;
} */