html, body {
    height: 100%;
}

#popular {
    position: relative;
    width:250px;
    height:250px;
    top: 150px;
    left: 50px;
    right:50px;
    
}

#style {
    position: relative;
    width:250px;
    height:250px;
    top: 150px;
    left: 50px;
    right:50px;
}
/* #hi {
    background-color: blue;
} */