html, body {
    height: 100%;

}
@media screen and (max-height: 450px) {
  body {padding-top: 5px;}
  body {font-size: 18px;}
}
#title{
    position: relative;
    font-family: '微軟正黑體';
    font-size: 50px;
    left: 220px;
    top: 80px;
}
#popular {
    display:block;
    position: relative;
    width:250px;
    height:250px;
    top: 100px;
    left: 50px;
    right:50px;
    border-radius: 15% 15% 15% 15%;
}
/* 冷門 */
#c-word {
    display:none;
    font-family: '微軟正黑體';
    font-size: 50px;
    position: absolute;
    top: 40px;
    left: 25px;
    right:25px;
}
/* 熱門 */
#h-word {
    display:none;
    font-family: '微軟正黑體';
    font-size: 50px;
    position: absolute;
    top: 150px;
    left: 25px;
    right:30px;
}

#p-word{
    display: block;
    font-family: '微軟正黑體';
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 25px;
    right:25px;
}

#style {
    position: relative;
    width:250px;
    height:250px;
    top: 100px;
    left: 50px;
    right:50px;
    border-radius: 15% 15% 15% 15%;
}
#s-word{
    font-family: '微軟正黑體';
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 25px;
    right:25px;
}
