#pic-button {
    border-radius: 5% 5% 5% 5%;
}
#btn-box {
    margin-top: 5%;
}
#pic-div {
    height: 100vh;
}
#song-name {
    font-family: '微軟正黑體';
    font-size: 15px;
    margin-: 5px; 
    /* border-radius: 10% 10% 10% 10%; */
}
#singer {
    font-family: '微軟正黑體';
    font-size: 15px;

}