#pic-button {
    border-radius: 5% 5% 5% 5%;
}
#btn-box {
    margin-top: 5%;
}
#pic-div {
    height: 100vh;
}
#song-name, #singer-name {
    font-family: '微軟正黑體';
    font-size: 15px;
    min-width: 50vh;
    max-width: 100vh; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    border-radius: 5% 5% 5% 5%;
    /* display : inline-block; */

}
/* #singer-name {
    font-family: '微軟正黑體';
    font-size: 15px;
    min-width: 50%;
    max-width: 100%;
} */