<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Artistpage</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" href="/static/stylesheets/artistpage.css">
</head>

<body class="brown lighten-4">
  <!--materialize grid 排版-->
  <div class="container">
    <div id="btn-box" class="row">
      <!-- 寫該row裡的column -->
      <div class="col s12 m12 l12">
        <span class="title_pic">Dan + Shay</span>
      </div>
      <div class="singerPhoto col s12 m4 l4">
        <img src="/media/{{artist.picture}}" alt="Image" border="0">
      </div>
      <!-- 歌手介紹 -->
      <div id="singerIntro" class="col s12 m8 l8">
        <span class="title_intro">簡介</span>
        <div class="ellipsis">
          {{artist.introduce}}
        </div>
      </div>
      <!-- 歌曲 -->
      <div class="col s12 m12 l12">
        <span class="title_list">歌曲</span>
      </div>
      {% for song in songs %}
      <div id="song1" class="songList col s12 m12 l12" >
        <ul>
          <li><a href="#">
            {{song.song_name}}
          </a></li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>