<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- cs -->
  <link rel="stylesheet" href="/static/stylesheets/home.css">

</head>

<body>
  <!-- 讓版面可自動縮放大小  -->
  <div class="container">
    <!-- 留邊 -->
    <!-- <div class="container-fluid"> 滿版 -->
    <!-- <div class="row"> -->
    <!-- <div id="hi" class="col-md-1 text-light"> -->
    <!-- grid options顯示器大小: md = medium device  -->
    <!-- 該列的大小"col-1" 數字表示大小 最大可到12 -->
    <!-- <h1>Hi</h1>
        </div>
    </div> -->
    <div id="btn-box" class="row">
      <div class="col s12 m4 l1"></div>
      <div class="col s12 m4 l5.5">
        <a id="popular" class="waves-effect waves-light btn-large yellow darken-1">
          <span id="p-word" class="black-text">冷熱門</span>
        <!-- 冷門跟熱門的display皆預設為none，none會直接隱藏，不會占空間 -->
          <span id="c-word" class="black-text" href>冷門</span>
          
          <span id="h-word" class="black-text" href>熱門</span>
        </a>
      </div>
      <div class="col s12 m4 l1"></div>
      <div class="col s12 m4 l5.5">
        <a id="style" class="waves-effect waves-light btn-large yellow darken-1">
          <span id="s-word" class="black-text">曲風</span>
        </a>
      </div>
    </div>
    <!-- 使用materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- js -->
    <!-- 使用jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="jquery.js"></script> -->
    <script src="/static/javascripts/home.js" type="text/javascript"></script>
</body>

</html>