<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/static/stylesheets/songlist.css">
</head>

<body>
  <div class="container">
    <div id="btn-box" class="row">
      <div id="pic-div" class="col s6 m4 l4">
        <div><img id="pic-button"
            src="https://cdn.shopify.com/s/files/1/0082/4315/0908/products/OMAM_FeverDream_Explicit1_1_3000x.jpg?v=1558206646"
            width="100%">
          <div class="row">
            <div id="song-div" class="col s6 m4 l4 ">
              <div id="song-name" class="btn-flat center brown lighten-4">Wild Roses
              </div>
            </div>
          </div>
          <div class="row">
            <div id="song-div" class="col s6 m4 l4">
              <span id="singer-name" class="btn-flat center brown lighten-4">Of Monsters
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="story-box" class="row">
        <span id="story-div" class="col s12 m9 l8">
          
        </span>
      </div> -->
  </div>

  </div>

  <!-- 使用materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- js -->
  <!-- 使用jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>